{% load static %}
<!DOCTYPE html>
<html lang="ja">


  <head>
    <meta charset="utf-8">
    <title>make friends</title> 
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'mkfri/css/style.css' %}">
  </head>


  <body class="container">
    <h1 class="display-4 text-primary">{{title}}</h1>
    <p><a href="{% url 'index' %}">友人一覧</a></p>
    <p><a href="{% url 'create' %}">友人作成</a></p>
    <p><a href="{% url 'message' %}">message一覧</a></p>
    <form action="{% url 'create' %}" method="post">
      {% csrf_token %}
      <table class="table">
        {{ form.as_table }}
        <tr><th><td>        
          <input type="submit" class="btn btn-primary my-2" value="送信">    
        </td></th></tr>
      </table>
    </form>
  </body>
</html>