{% load static %}
<!DOCTYPE html>
<html lang="ja">


  <head>
    <meta charset="utf-8">
    <title>make friends</title> 
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'mkfri/css/style.css' %}">
  </head>


  <body class="container">
    <h1 class="display-4 text-primary">{{title}}</h1>
    <p><a href="{% url 'index' %}">友人一覧</a></p>
    <p><a href="{% url 'create' %}">友人作成</a></p>
    <p><a href="{% url 'message' %}">message一覧</a></p>
    <p>※以下のレコードを削除します。</p>
    <p class="h5 mt-4">{{msg|safe}}</p>
    
    <table class="table">
      <tr>
        <th>ID</th><td>{{obj.id}}</td>
      </tr>

      <tr>
        <th>NAME</th><td>{{obj.name}}</td>
      </tr>
      
      <tr>
        <th>GENDER</th><td>{% if obj.gender == False %}女性{% endif %}
          {% if obj.gender == True %}男性{% endif %}</td>
      </tr>

      <tr>
        <th>MAIL</th><td>{{obj.mail}}</td>
      </tr>

      <tr>
        <th>AGE</th><td>{{obj.age}}</td>
      </tr>

      <tr>
        <th>BIRTHDAY</th><td>{{obj.birthday}}</td>
      </tr>
  
      <form action="{% url 'delete' id %}" method="post">
        {% csrf_token %}
        <tr><th></th><td>  
        <input type="submit" class="btn btn-primary my-2" value="削除">
        </td>
      </tr>
      
    </table>
  </body>


</html>