{% load static %}
<!DOCTYPE html>
<html lang="ja">


  <head>
    <meta charset="utf-8">
    <title>make friends</title> 
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'mkfri/css/style.css' %}">
  </head>


  <body class="container">
    <h1 class="display-4 text-primary">{{title}}</h1>
    <p class="h5 mt-4">{{msg|safe}}</p>
    <form action="{% url 'index' %}" method="POST">
      {% csrf_token %}
      {{ form.as_p }}
      <tr><th><td>        
        <input type="submit" class="btn btn-primary my-2" value="検索">    
      </td></th></tr>
    </form>
    <p><a href="{% url 'index' %}">友人一覧</a></p>
    <p><a href="{% url 'create' %}">友人作成</a></p>
    <p><a href="{% url 'message' %}">message一覧</a></p>
    
    
    <table class="table">
      <tr>
        <th>ID</th>
        <th>NAME</th>
        <th>GENDER</th>
        <th>MAIL</th>
        <th>AGE</th>
        <th>BIRTHDAY</th>
        <th>修正</th>
        <th>削除</th>
        <th>メッセージ</th>
      </tr>
      {% for item in data %}
      <tr>
        <td>{{item.id}}</td>
        <td>{{item.name}}</td>
        <td>{% if item.gender == False %}女性{% endif %}
            {% if item.gender == True %}男性{% endif %}</td>
        <td>{{item.mail}}</td>
        <td>{{item.age}}</td>
        <td>{{item.birthday}}</td>
        <td><a href="{% url 'edit' item.id %}">Edit</a></td>
        <td><a href="{% url 'delete' item.id %}">Delete</a></td>
        <td><ul>{% for ob in item.message_set.all %}
                      <li>{{ob.title}}</li>
                {% endfor %}
        </ul></td>
      </tr>
      {% endfor %}
    </table>
    <ul class="pagination">
      {% if data.has_previous %}
      <li class="page-item"><a href=" {% url 'index' %}" class="page-link">&laquo; first</a></li>
      <li class="page-item"><a href=" {% url 'index' %}{{data.previous_page_number}}" class="page-link">&laquo; prev</a></li>
      {% else %}
      <li class="page-item"><a class="page-link">&laquo; first</a></li>
      <li class="page-item"><a class="page-link">&laquo; prev</a></li>
      {% endif %}
      <li class="page-item"><a class="page-link">{{data.number}}/{{data.paginator.num_pages}}</a></li>
      {% if data.has_next %}
      <li class="page-item"><a href=" {% url 'index' %}{{data.next_page_number}}" class="page-link">next &raquo;</a></li>
      <li class="page-item"><a href=" {% url 'index' %}{{data.next_page_number}}{{data.paginator.num_pages}}" class="page-link">last &raquo;</a></li>
      {% else %}
      <li class="page-item"><a class="page-link">next &raquo;</a></li>
      <li class="page-item"><a class="page-link">last &raquo;</a></li>
      {% endif %}
    </ul>
  </body>


</html>